<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Successful</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <h2>Success!</h2>
  <p>Thank you for registering, Your account has been successfully created.</p>
  <br />
  <a class="btn btn-outline-success" href="/get-todos">
    <i class="bi bi-plus-square-fill"></i> <-Back </a>
</div>
<script th:src="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"></script>
</body>
</html>